<div class="container" (click)="toggle()" #container fxLayout="column">
  <div fxLayout="row">
    <div fxLayout="column" fxFlex="70" fxLayoutAlign="space-between start">
      <div class="name">{{ skill.name }}</div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div
          class="tag"
          *ngFor="let tag of skill.tags"
          [routerLink]="'/tag/' + tag"
        >
          {{ tag }}
        </div>
      </div>
    </div>

    <div
      fxFlex
      class="image"
      [style.background-image]="
        'url(' +
        'https://firebasestorage.googleapis.com/v0/b/sebastiangug-com.appspot.com/o/' +
        skill.image +
        '?alt=media' +
        ')'
      "
      [style.height.px]="bgHeight"
    ></div>
  </div>
</div>
