.container {
  min-width: 300px;
  width: 100%;
  cursor: pointer;
  border-bottom: 0.3rem solid rgb(241, 63, 18);
  transition: 100ms all ease-in-out;
  min-height: 100px;
  &:hover {
    transition: 100ms all ease-in-out;
    box-shadow: 12px 12px 18px 1px rgba(0, 0, 0, 0.2);
  }

  .name {
    padding: 1rem;
    font-weight: 500;
    font-size: 1.3rem;
    white-space: wrap;
  }

  .description {
    padding: 1rem;
    padding-top: 0;
    font-weight: 300;
  }

  .image {
    position: relative;
    height: 100px !important;
    width: 100px !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .tag {
    color: blue;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    -webkit-user-select: none;
    z-index: 5;
    &:hover {
      background: rgba(0, 0, 0, 0.15);
    }
  }
}
