.about-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;

  .meta-container {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-weight: 300;
  }

  .subtitle {
    font-weight: 500;
    font-size: 1.2rem;
  }

  .image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
  }

  .summary {
    font-size: 1rem;
  }
}
