<div class="section">
  <div class="page-title">About</div>
</div>

<!-- PICTURE & NAME HEADER -->
<div class="section">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="image">
      <img
        height="150px"
        src="https://firebasestorage.googleapis.com/v0/b/sebastiangug-com.appspot.com/o/about.png?alt=media"
      />
    </div>
    <h1 style="margin: 1rem;">Sebastian Gug</h1>
  </div>
</div>

<!-- SUMMARY/TITLE -->
<div class="section" fxLayoutGap="2rem">
  <div>
    <div>
      <span class="title">
        Lead Software Engineer
      </span>
    </div>
    <div class="summary">
      {{ summary }}
    </div>

    <span class="title">
      Future
    </span>

    <div class="summary">
      {{ future }}
    </div>
  </div>
</div>
