<div class="section">
  <div class="page-title">About</div>
</div>

<!-- PICTURE & NAME HEADER -->
<div class="section">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="image">
      <img
        height="150px"
        src="https://firebasestorage.googleapis.com/v0/b/sebastiangug-com.appspot.com/o/about.png?alt=media"
      />
    </div>
    <h1 style="margin: 1rem;">Sebastian Gug</h1>
  </div>
</div>

<!-- SUMMARY/TITLE -->
<div class="section" fxLayoutGap="2rem">
  <div>
    <div>
      <span class="title">
        Lead Software Engineer
      </span>
    </div>

    <div class="summary">
      {{ summary }}
    </div>

    <span class="title">
      Future
    </span>
    <div class="summary">
      {{ future }}
    </div>

    <span class="title">
      Location
    </span>
    <div class="summary">
      {{ location }}
    </div>

    <span class="title">
      Work Interests
    </span>
    <div class="summary">
      {{ workInterests }}
    </div>

    <span class="title">
      Personal Interests
    </span>
    <div class="summary">
      {{ personalInterests }}
    </div>

    <span class="title">
      Contact
    </span>
    <div class="summary">
      {{ contact }}
    </div>
  </div>
</div>

<div class="section">
  <div class="grid-container">
    <div class="link">
      <a href="https://stackoverflow.com/users/10064334/michaelb?tab=profile">
        <img
          height="35px"
          src="https://firebasestorage.googleapis.com/v0/b/sebastiangug-com.appspot.com/o/stackoverflow.png?alt=media"
        />
      </a>
    </div>

    <div class="link">
      <a href="https://github.com/michaelbats">
        <img
          height="35px"
          src="https://firebasestorage.googleapis.com/v0/b/sebastiangug-com.appspot.com/o/github.png?alt=media"
        />
      </a>
    </div>

    <div class="link">
      <a href="https://www.linkedin.com/in/sebastiangug/">
        <img
          height="35px"
          src="https://firebasestorage.googleapis.com/v0/b/sebastiangug-com.appspot.com/o/linkedin.png?alt=media"
        />
      </a>
    </div>
  </div>
</div>
