.nav-container {
  top: 0;
  width: 100vw;
  height: 70px;
}

.menu-button {
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 0;
  margin: 0.3rem;
  transition: 100ms ease-out all;
  &:hover {
    transition: 100ms ease-out all;
    background: #0c7dda;
    color: white;
  }
  &.active {
    transition: 100ms ease-out all;
    background: #0c7dda;
    color: white;
  }
}
