<div class="nav-container">
  <div fxFill fxLayout="row" fxLayoutAlign="space-between center">
    <div></div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button class="menu-button" routerLink="" mat-button>
        home
      </button>
      <button
        routerLinkActive="active"
        class="menu-button"
        routerLink="about"
        mat-button
      >
        about
      </button>
      <button
        routerLinkActive="active"
        class="menu-button"
        routerLink="skills"
        mat-button
      >
        skills
      </button>
      <button
        routerLinkActive="active"
        class="menu-button"
        routerLink="portfolio"
        mat-button
      >
        portfolio
      </button>
      <button
        routerLinkActive="active"
        class="menu-button"
        routerLink="contact"
        mat-button
      >
        contact
      </button>
      <button
        routerLinkActive="active"
        class="menu-button"
        routerLink="admin"
        mat-button
        *ngIf="admin"
      >
        admin
      </button>
      <button routerLinkActive="active" class="menu-button" mat-button>
        CV
      </button>
    </div>
    <div></div>
  </div>
</div>
