<div class="navigation-bar-container">
  <div class="blur-overlay"></div>
  <div class="navigation-items-container">
    <div class="navigation-item" routerLink="main">
      <div class="logo-name">
        SG
      </div>
    </div>

    <div class="navigation-item" routerLink="main/portfolio">
      <div class="navigation-icon">
        <icon name="dashboard" color="#1ae95e" size="2rem"></icon>
      </div>
      <div class="navigation-text">Portfolio</div>
    </div>

    <div class="navigation-item" routerLink="main/skills">
      <div class="navigation-icon">
        <icon name="binary" color="#1ae95e" size="2rem"></icon>
      </div>
      <div class="navigation-text">Skills</div>
    </div>

    <div class="navigation-item" routerLink="main/about">
      <div class="navigation-icon">
        <icon name="about" color="#1ae95e" size="2rem"></icon>
      </div>
      <div class="navigation-text">About</div>
    </div>

    <div class="navigation-item" routerLink="main/resume">
      <div class="navigation-icon">
        <icon name="resume" color="#1ae95e" size="2rem"></icon>
      </div>
      <div class="navigation-text">Resume</div>
    </div>

    <div
      class="navigation-item"
      routerLink="admin"
      *ngIf="encryptionService.isAdmin | async"
    >
      <div class="navigation-icon">
        <icon name="admin" color="#1ae95e" size="2rem"></icon>
      </div>
      <div class="navigation-text">Admin</div>
    </div>

    <div class="navigation-item" *ngIf="encryptionService.codeProvided | async">
      <ng-template *ngIf="encryptionService.isAdmin | async; else signOut">
        <div class="navigation-icon">
          <icon name="login" color="#1ae95e" size="2rem"></icon>
        </div>
        <div class="navigation-text">Login</div>
      </ng-template>

      <ng-template #signOut>
        <div class="navigation-icon">
          <icon name="sign-out" color="#1ae95e" size="2rem"></icon>
        </div>
        <div class="navigation-text">Logout</div>
      </ng-template>
    </div>
  </div>
</div>

<!--  MOBILE NAVIGATION STARTS HERE -->
<div class="mobile-navigation-bar-container">
  <div class="mobile-navigation-items-container">
    <div class="mobile-navigation-item">
      <div class="mobile-navigation-icon" routerLink="main/portfolio">
        <icon name="dashboard" color="#1ae95e" size="1.6rem"></icon>
      </div>
      <div class="mobile-navigation-text">Portfolio</div>
    </div>

    <div class="mobile-navigation-item">
      <div class="mobile-navigation-icon" routerLink="main/skills">
        <icon name="binary" color="#1ae95e" size="1.6rem"></icon>
      </div>
      <div class="mobile-navigation-text">Skills</div>
    </div>

    <div class="mobile-navigation-item">
      <div class="logo-name mobile">
        SG
      </div>
    </div>

    <div class="mobile-navigation-item">
      <div class="mobile-navigation-icon" routerLink="main/about">
        <icon name="about" color="#1ae95e" size="1.6rem"></icon>
      </div>
      <div class="mobile-navigation-text">About</div>
    </div>
    <div class="mobile-navigation-item">
      <div class="mobile-navigation-icon" routerLink="main/resume">
        <icon name="resume" color="#1ae95e" size="1.6rem"></icon>
      </div>
      <div class="mobile-navigation-text">Resume</div>
    </div>
  </div>
</div>
