@import '../../../global';

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background: $primary;
  transition: ease-in-out 200ms all;

  &:hover {
    width: 12rem;
    transition: ease-in-out 200ms all;
  }
}
