@import '../../../global';

/////////////////////////////////////// DESKTOP NAVIGATION STUFF ///////////////////////////////
// WHOLE BAR
.navigation-bar-container {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background: $primary;
  transition: ease 400ms all;

  &:hover {
    width: 12rem;
  }
}

// JUST THE ITEMS ZONE
.navigation-items-container {
  padding: 0;
  margin: 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100%;
  &:hover {
    // TEXT ON HOVER
    transition: ease 400ms all;
    .navigation-text {
      transition: 400ms ease all;
      visibility: visible;
      opacity: 1;
      margin-left: 1rem;
    }

    .logo-name {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      transition: ease 400ms all;
      position: relative;
    }

    // ARROW ICON AT THE TOP
    .navigation-item:first-child {
      .navigation-icon {
        filter: grayscale(100%);
        transition: ease 400ms all;
        transform: rotate(180deg);
        margin-left: auto;
      }
    }
  }
}

// SINGLE ITEM
.navigation-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  filter: grayscale(100%);
  cursor: pointer;
  width: 100%;
  transition: ease 400ms all;

  &:hover {
    filter: none !important;
    background: $secondary;
  }

  &:last-child {
    margin-top: auto;
  }

  &:first-child {
    background: $secondary;
    filter: none;

    &:hover {
      filter: hue-rotate(20deg) !important;
    }
  }
}

// ICON INSIDE ITEM
.navigation-icon {
  margin: 0 1.5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease 400ms all;
}

// TEXT INSIDE ITEM
.navigation-text {
  font-weight: 500;
  font-size: 1rem;
  visibility: hidden;
  color: $accent;
  margin: 0;
  transition: ease 400ms all;
  opacity: 0;
}

.logo-name {
  visibility: hidden;
  transform: scale(0);
  opacity: 0;
  transition: ease 400ms all;
  // display: none;
  position: absolute;
  padding: 1rem;
  top: 0;
  left: 0;
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
}

///////////////////// MOBILE NAVIGATION STUFF ///////////////////////////////

.mobile-navigation-bar-container {
  height: 5rem;
  background: $primary;
  width: 100vw;
  position: fixed;
  bottom: 0;
}

.mobile-navigation-items-container {
  display: flex;
  direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
}

.mobile-navigation-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  height: 3rem;
  flex: 1;
  padding: 0.5rem;

  &:hover {
    background: $secondary;
  }
}

.mobile-navigation-text {
  color: $accent;
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0.2rem;
}
